@charset "utf-8";
@import url(reset.css);
/* global.css */


/* animation */
@keyframes popin {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }